body{
  margin:0 5px;
}
div{
  padding-bottom:9px;
  border-bottom:solid 1px #CCCCCC;
  margin-bottom:10px;
}
header#top-header{
  height:36px;
}
h1#page-title{
  display:inline;
  float:left;
  margin-right:10px;
}
#container{
  width:100%;
  padding:0;
  border:none;
  margin:0 auto;
}
#top-nav{
  float:left;
}
#top-nav button{
  width:auto;
  max-width:10em;
}

#page-footer{
  padding:0 0 10px 0;
  border:none;
  margin:0;
  text-align:center;
}
#log-box{
  color:#FFFFFF;
  background-color:#808080;
  font-weight:bold;
  padding:3px;
  letter-spacing:1px;
}
#log-output{
  display:block;
  width:100%;
}

.player-table div{
  padding:0;
  border:none;
  margin:0;
}
.player-table .row{
  margin-bottom:8px;
  padding:5px;
}
.player-table .clip-stopped{
  background-color:#CCCCCC;
}
.player-table .clip-playing{
  background-color:#222222;
}
.player-table select{
  margin:0;
}
form{
  margin:0;
}
button{
  height:2.5em;
  width:5em;
}
button.move{
  width:2.5em;
}
input[type=text]{
  height:2.5em;
  font-size:1em;
  letter-spacing:1px;
  line-height:1em;
  margin:0;
  font-family:Menlo, Monaco, Consolas, "Courier New", monospace;
}
input.title-text{
  width:100%;
  height:1.25em;
  font-size:2em;
  font-weight:bold;
  border:none;
}
.clip-playing input.title-text{
  background-color:#F89406;
}
input.keybind-text{
  width:100%;
  height:1.25em;
  text-align:center;
  font-size:2em;
  font-weight:bold;
  text-transform:uppercase;
  color:#CCCCCC;
  background-color:#000000;
  border:none;
}
.clip-playing input.keybind-text{
  color:#F89406;
}
.volume meter{
  height:16px;
  width:100%;
}
select.change-list{
  width:7em;
  height:2.5em;
}
#fullscreen{
  min-width:10em;
  float:right;
  padding:2px 5px;
  border:1px solid #808080;
}
.delta_up,
.delta_down{
  display:none;
}
.play,
.play{
  text-align:center;
}
.duration{
  width:4em;
  text-align:center;
  font-size:2em;
  font-weight:bold;
}
.clip-playing .duration{
  color:FF0000;
}

.player-table{width:100%}

.title{
  
}
.duration{
  
}
.volume{
  
}
.play{
  
}
.keybind,
.under,
.loop,
.segue,
.send_to_list,
.delete{
  display:none;
}

button.play,
button.under,
button.loop,
button.segue,
button.move-up,
button.move-down,
select.change-list{
  width:100%;
  height:200px;
}

button.play[disabled],
button.under[disabled],
button.loop[disabled],
button.segue[disabled],
button.move-up[disabled],
button.move-down[disabled],
select.change-list[disabled]{
  cursor:default;
}
button.move-up:hover,
button.move-down:hover{
  
}
button.delta-changed{
  
}

